@font-face {
    font-family: genesis-head-light;
    src:url(../fonts/genesis/GenesisSansProHead-Lt.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: genesis-head;
    src:url(../fonts/genesis/GenesisSansProHead-Rg.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: genesis-text;
    src:url(../fonts/genesis/GenesisSansProText-Rg.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: genesis-text-medium;
    src:url(../fonts/genesis/GenesisSansProText-Md.woff) format("woff");
    font-weight: 400;
    font-style: normal
}